* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
  }
  
  /* Header/logo Title */
  .header {
    padding: 20px;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;

    


  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color:black;
    position: fixed;
    width: 100%;
    border-radius: 2px;


  }

  #web_name{

    color: white;
    font-size: 20px;
    margin-left: 22%;


  
  }
  
  #web_name a:hover{

    display: none;
    
  }

  p{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: right;
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    margin-right: 90px;
    
    

  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    

  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    

  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    position: fixed;
    margin: 80px 0px 70px 0px;    
    position: -webkit-sticky;
    overflow: scroll;
}

  
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 40%;

  }
  .main h2{

    width: 79%;
    margin-top: 10%;
  }
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
 



    
  }
   
  /* Footer */
  .footer {
    padding: 10px;
    text-align: center;
    background: black;
    width: 100%;
    word-spacing: 30px;
    position: fixed;
    bottom: 0%;

  }

  .footer a{

    text-decoration: none;
    color: white;
  }

  img{

    width: 60%;
     height: 25%;
     border-radius: 10px;
     
  }
  
  p{
    width: 60%;
  }


  iframe{

    width: 30%;

  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }

    .navbar a{

        font-size: 7px;
    }


    img{

        width: 80%;
        height: 20%;
        
    }
#web_name{

  display: none;

}
    p{

        width: 100%;
    }
    .navbar a{
      margin-right: 50px;

    }

    .main h2{
       width: 100%;
    }
    #nav_games{
    

      display: none;
    }

    .side{

      position: static;
      width: 100%;
      margin: 0%;

      
    }

    .main{

      margin-left: 0%;
    }

    
  }

  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;

    }

    .side{

      margin-top: 60px;

    }



  

    
  }

  @media screen and (max-width:1488px){

    .side{

      margin-top: 60px;

    }

   

 .ch_main{



  margin-left:40%;
 }



 
  }









  /* new */
